@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background: url(assets/image-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: change 30s infinite ease-in;
}

nav .contact-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  border-bottom: 0.1px solid;
}

.email-call ul {
  display: flex;
  gap: 3rem;
  list-style-type: none;
}

.email-call a {
  font-size: 0.9rem;
  color: inherit;
  text-decoration: none;
}

nav .contact-info img {
  width: 12px;
  height: 12px;
  margin-right: 2px;
}

.socials a,
.logo a,
.search-menu a {
  text-decoration: none;
  color: #00000000;
}

.nav-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.logo img {
  width: 110px;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  gap: 4rem;
  list-style-type: none;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ffff00;
}

.search-menu img {
  width: 20px;
  height: 20px;
}

.hero-container {
  margin-top: 4rem;
}

.hero-container h2 {
  text-align: center;
  color: #ffff00;
}

.hero-container span {
  text-align: center;
  display: block;
  font-size: 2rem;
}

.hero-container h1 {
  text-align: center;
  font-size: 2.5rem;
  width: 500px;
  margin: 0 auto;
}

.cta-btn {
  margin-top: 1rem;
}

.cta-btn img {
  width: 15px;
  margin-right: 0.5rem;
}

.cta-btn span {
  font-size: 1rem;
  display: inline;
}

.cta-btn a {
  background-color: #008000;
  padding: 1rem;
  border-bottom: 3px solid #ffff00;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
}

.event span {
  font-size: 1rem;
  text-align: left;
  font-weight: 600;
  padding: 1rem;
  background-color: #008000;
  display: inline;
}

.announcement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
  padding: 2rem 4rem;
  background-color: #fff;
}

.event p {
  display: inline;
  margin-left: 2rem;
  font-size: 1.2rem;
  color: #757575;
}

@keyframes change {
  0% {
    background-image: url(assets/image-3.jpg);
  }
  20% {
    background-image: url(assets/image-2.jpg);
  }
  40% {
    background-image: url(assets/image-1.jpg);
  }
  60% {
    background-image: url(assets/image-3.jpg);
  }
  80% {
    background-image: url(assets/image-2.jpg);
  }
  100% {
    background-image: url(assets/image-1.jpg);
  }
}
